<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.lesson04.dao.SellerDAO">
	<insert id="insertSeller" parameterType="com.quiz.lesson04.model.Seller">
		INSERT INTO `seller`
		(
			`nickname`
			,`profileImage`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{nickname}
			, #{profileImage}
			, #{temperature}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectLastSeller" resultType="com.quiz.lesson04.model.Seller">
		SELECT
			`id`
			,`nickname`
			,`profileImage`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		FROM
			`seller`
		ORDER BY `id` DESC
		LIMIT 1
	</select>
	
	<select id="selectSellerById" parameterType="int" resultType="com.quiz.lesson04.model.Seller">
		SELECT
			`id`
			,`nickname`
			,`profileImage`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		FROM
			`seller`
		WHERE
			`id` = #{id}
	</select>
</mapper>